@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Mathias' Book Store</h1>
    <p class="lead">Hello and welcome to the book store.</p>
    <p><a href="/Books" class="btn btn-primary btn-lg">Check out our books!</a></p>
</div>

<div class="row">
    <div class="col" @*style="text-align:center"*@>
        <h2>Why create a book store page</h2>
        <p style="font-size: 18px;">
            This web app is part of the Enterprise Computing program, its purpouse is to demonstrate the ability to
            connect the app with Azure and a database. The theme chosen for this project was the book store where you 
            are able to add/edit/delete Books or Authors. The app is being deployed through github and hosted by Azure.
        </p>
        <h3>Data Managed</h3>
        <p style="font-size: 18px;">
            The data being managed in this project is related to two objects: Author and Book.<br />
            <b>Authors</b> contain an ID, the author's name, their date of birth and the country where they are from.<br />
            <b>Books</b> contain an ID, an Author's ID with references to the Authors table, a title, the number of pages, 
            the year the book was published, the price and a brief description of the book.
        </p>
        <p>@User.Identity.IsAuthenticated</p>
    </div>
</div>